Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.6.0
Flask-CORS==4.0.0
torch==2.1.0+cu121
torchvision==0.16.0+cu121
torchaudio==2.1.0+cu121
--extra-index-url https://download.pytorch.org/whl/cu121
transformers==4.35.2
accelerate==0.25.0
